/*===============NAVBAR========*/
a.navbar-brand.text-white.border.p-3.m-0.aquablue {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}



body {
    background-image: url(images/background.png);
}

/*=============== FOOTER ==============*/
.foot {
    background-color: #666666;  
}
.foot.p-1.text-center.fixed-bottom {
    border-top: solid;
    border-color: #4aaaa5;
}

/*============INDEX PAGE==========*/
h4.col-md-3.pt-2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}


/*============PORTFOLIO PAGE==========*/

.text-box {
    position: absolute;
    background-color:#4aaaa5;
   width: 300px;
    margin-top: 215px;
}



/*============CONTACT PAGE==========*/

input[type="text"] {
    width: -webkit-fill-available;
}

input[type="email"] {
    width: -webkit-fill-available;
}

textarea.textbox {
    width: -webkit-fill-available;
    border-color: #dddddd;
}