/*===============NAVBAR========*/
a.navbar-brand.text-white.border.p-3.m-0.aquablue {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}



body {
    background-image: url(images/background.png);
}

/*=============== FOOTER ==============*/
.foot {
    background-color: #666666;  
}
.foot.p-3.text-center.fixed-bottom {
    border-top: solid;
    border-color: #4aaaa5;
}

/*============INDEX PAGE==========*/
h4.col-md-3.pt-2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}